<div id='header'>
  {% for item in menu %}
    {% if item.permalink != null %}
      <li>
        <a
          href='{{ item.permalink | url }}'
          {% if item.external %}
            target='_blank'
          {% endif %}
        >
          {{ item.title }}
        </a>
      </li>
    {% else %}
      <li class='noselect'>
        {{ item.title }}
      </li>
    {% endif %}
  {% endfor %}
</div>