{% extends "master.njk" %}

{% block head %}
<link rel='stylesheet' type='text/css' href='{{ "/css/doc.css" | url }}'>
<meta http-equiv='refresh' content='0; url={{ "/java" | url }}' />
<a href="{{ "/java" | url }}">Go to {{ "/java" | url }}</a>
{% endblock %}